<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <!-- BOOTSTRAP CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #df5bd4;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">WEBC</a>
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user">User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Call</a>
              </li>
              <li class="nav-item">
                <div class="badge bg-primary text-wrap" style="width: 4rem; height: 1cm; ">
                  <a><%= name %></a>
                </div>
                
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container p-5">
        <div class="card">
            <div class="card-body">
                    <h1>Hellos, <%= name %></h1>
                    <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
        

        
    </div>

    

</body>
</html>
<style>
     body {

background: #30cc90;
font-family: "Roboto", sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
</style>